@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&display=swap");

:root {
  /* color palette */
  /* https://flatuicolors.com/palette/defo */

  --bg-color: #2c3e50;
  --bg-color-light: #34495e;
  --bg-screen-color: #ecf0f1;
  --btn-bg: #2980b9;
  --btn-bg-disabled: #7f8c8d;
  --btn-text: #ecf0f1;
  --btn-hover: #3498db;
  --play-btn: #16a085;
  --play-btn-hover: #1abc9c;
  --play-btn-text: #ecf0f1;
  --screen-text-dark: #2c3e50;
  --screen-text-light: #7f8c8d;
  --hp-bar-bg: #bdc3c7;
  --hp-bar-current: #27ae60;

  --border-radius: 5px;
  --screen-width: 500px;
  --screen-height: 300px;
  --controls-width: var(--screen-width);
  --controls-height: 2000px;

  --main-font: "Baloo Tammudu 2", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

#screen {
  position: relative;
  background-color: var(--bg-screen-color);
  width: var(--screen-width);
  height: var(--screen-height);
  margin: 2rem auto 1rem;
  border-radius: var(--border-radius);
  overflow: hidden;
}

#screen .start-screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-light);
  display: none;
  color: white;
  font-family: var(--main-font);
  font-size: 2.5rem;
  text-align: center;
  padding-top: 6rem;
}

#screen .end-screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  color: white;
  font-family: var(--main-font);
  font-size: 2.5rem;
  text-align: center;
  padding-top: 6rem;
}

#screen .enemy {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row-reverse;
}

#screen .player {
  width: 100%;
  height: 50%;
  display: flex;
}

.character-sprite {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-sprite img {
  max-width: 100%;
  height: 90%;
}

.character-info {
  width: 70%;
  height: 100%;
  padding: 1rem;
}

.character-info .character-name {
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: bold;
  letter-spacing: 0.07rem;
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--screen-text-dark);
}

.character-info .hp-bar {
  background-color: var(--hp-bar-bg);
  border-radius: 5px;
  width: 100%;
  height: 15px;
  overflow: hidden;
}

.character-info .hp-bar .current-hp {
  background-color: var(--hp-bar-current);
  width: 100%;
  height: 100%;
}

.character-info .hp-label {
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: bold;
  letter-spacing: 0.07rem;
  font-size: 1.2rem;
  color: var(--screen-text-light);
}

#controls {
  width: var(--screen-width);
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.action-btn {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  width: 50%;
  height: 50%;
  border: none;
  text-transform: uppercase;
  transition: background 0.3s ease-out;
  cursor: pointer;
}

.action-btn:hover {
  background-color: var(--btn-hover);
}

.action-btn:disabled {
  background-color: var(--btn-bg-disabled);
  cursor: initial;
}

#settings {
  width: var(--screen-width);
  margin: 1rem auto 0;
  display: flex;
  flex-direction: column;
}

.character-selection {
  display: flex;
}

.character-selection-dropdown {
  width: 50%;
  padding: 1em;
}

.play-button {
  background-color: var(--play-btn);
  color: var(--play-btn-text);
  border: none;
  text-transform: uppercase;
  transition: background 0.3s ease-out;
  cursor: pointer;
  padding: 1rem 2em;
}

.play-button:hover {
  background-color: var(--play-btn-hover);
}

.play-button:disabled {
  background-color: var(--btn-bg-disabled);
  cursor: initial;
}
